*.db
*.pyc
*.pyo
*.log*
*.stdout*
.chef/
.idea/
.vagrant/
external/Lib/site-packages/comtypes-1.1.2-py3.4.egg/comtypes/gen/
external/Lib/site.py
*.InstallLog
*.user.props
.vs/
*.sdf
UpgradeLog.htm
*.suo
logs
*~
JenkinsCI/
Axiom/
WinShell/
.vscode/
ARM64/
x64/
Debug/
enc_temp_folder/
StableDiffusion_Config_Files/
StableDiffusionData/
build