scipy
diffusers==0.21.4
Flask
numpy
opencv-python
pillow
pybind11
requests==2.32.3
tokenizers==0.19.1
torch==1.13.1
torchvision==0.14.1
transformers==4.41.2
accelerate
huggingface_hub
https://github.com/quic/ai-engine-direct-helper/releases/download/v2.23.1/qai_appbuilder-2.22.0-cp310-cp310-win_amd64.whl
qai-hub==0.13.0
qai_hub_models[esrgan]==0.11.2